<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mortal.wms.business.mapper.CustomerInfoMapper">
    <select id="list"
            resultType="com.mortal.wms.business.entity.CustomerInfo"
            parameterType="com.mortal.wms.business.dto.CustomerPageRequest">
        select * from customer_info
        where deleted_time is null
          and company_name != '暂无'
        <if test="companyName !=null and companyName != ''">
            and company_name like concat('%',#{companyName},'%')
        </if>
        order by created_time desc
    </select>
</mapper>